@mixin d-flex(
  $justify: flex-start,
  $align: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
