$bg-dark-900: rgb(34 34 34);
$bg-dark-700: rgb(40 43 40);
$bg-transparent: rgb(0 0 0 /0.5);
$clr-light-900: rgb(255 255 255);
$clr-light-700: rgb(255 255 255 /0.7);
$clr-red-900: rgb(255 0 0);
$clr-red-600: rgb(155 0 0);
$clr-green-900: rgb(0, 255, 0);
$clr-green-600: rgb(0 155 0);
$font-main: 'Lato', sans-serif;
