@use '../utils/variables' as v;
:root {
  font-size: 62.5%;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
